body {
    background: rgb(18, 39, 39);
}
button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 6px;
    font-size: 1.6rem;
}

.container {
    width: 350px;
    margin: 0 auto;
    text-align: center;
    background: darkred;
    padding: 10px 0px 30px 0px;
    border-radius: 16px;

}
.App {
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
}

.number-button {
    background: darkblue;
    color: white;
    width: 60px;
    height: 60px;
}

.zero-button {
    width: 130px;
    border-radius: 32px;
}

.special-button {
    background: blue;
    color: white;
    width: 42px;
    height: 42px;
    font-size: 1.2rem;
    text-align: center;
}

.operator-button {
    background: teal;
    color: white;
}

.equals-button {
    height: 70px;
    width: 70px;
    margin-top: 15px;
    font-size: 2.2rem;
    background-color: rgb(0, 82, 82)
}

.joined-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo {
    margin-bottom: 10px;
    width: 80px;
    /* position: absolute;
    top: 0;
    right: 50%; */
}

.display {
    text-align: center;
    margin-bottom: 20px;
}
.display input{
    /* border: 2px solid red; */
    width: 70%;
    border-radius: 32px;
    height: 50px;
    padding-right: 15px;
    background: rgb(63, 63, 63);
    color: white;
    font-size: 2rem;
}