button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* padding: 8px 0px; */
    margin: 6px;
    font-size: 1.6rem;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background: darkred;
    padding: 10px 0px 30px 0px;

}
.App {
    /* width: 90%; */
    padding: 0px 20px;
}

.number-button {
    background: darkblue;
    color: white;
}

.special-button {
    background: blue;
    color: white;
}

.operator-button {
    background: teal;
    color: white;
}

.logo {
    margin-bottom: 10px;
    width: 80px;
    /* position: absolute;
    top: 0;
    right: 50%; */
}

.display {
    text-align: center;
    margin-bottom: 20px;
}
.display input{
    /* border: 2px solid red; */
    width: 70%;
    border-radius: 32px;
    height: 50px;
    padding-right: 15px;
    background: gray;
    color: white;
    font-size: 2rem;
}